body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
}
.MainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 325px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    position: relative;
}
.container::before{
    content: '';
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    position: absolute;
    background-color: #4070f4;
    top: 0;
    width: 100%;
    height: 30%;
}
.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    background-color: #4070f4;
    border-radius: 50%;
    padding: 6px;
}
.image .pfp{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info{
    padding: 14px;
}
.info .name{
    font-size: larger;
    font-weight: bold;
}
.info .username{
    padding-top: 7px;
    color: grey;
}
.info .IdNo{
    padding-bottom: 7px;
    color: black;
    font-weight: bold;
}
#fb, #tw, #insta, #yt{
    background-color: #4070f4;
    padding: 5px;
    
}

/* Search Button */ 
.searchBox {
  display: flex;
  max-width: 430px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 70px;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

